USE [DbNotKayıt]
GO
/****** Object:  Table [dbo].[TBLDERS]    Script Date: 16.10.2023 18:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERS](
	[OGRID] [smallint] IDENTITY(1,1) NOT NULL,
	[OGRNUMARA] [char](4) NULL,
	[OGRAD] [varchar](20) NULL,
	[OGRSOYAD] [varchar](20) NULL,
	[OGRS1] [tinyint] NULL,
	[OGRS2] [tinyint] NULL,
	[OGRS3] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLDERS] ON 

INSERT [dbo].[TBLDERS] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRS1], [OGRS2], [OGRS3], [ORTALAMA], [DURUM]) VALUES (1, N'1235', N'ALİ', N'YILDIZ', 45, 81, 25, CAST(60.33 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBLDERS] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRS1], [OGRS2], [OGRS3], [ORTALAMA], [DURUM]) VALUES (2, N'1346', N'MEHMET', N'ÇINAR', 45, 95, 50, CAST(74.33 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBLDERS] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRS1], [OGRS2], [OGRS3], [ORTALAMA], [DURUM]) VALUES (3, N'1458', N'AYŞE', N'GÜNEŞ', 45, 66, 85, CAST(72.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[TBLDERS] OFF
GO
